<h2>Confirmed! Thank you for your order!</h2> 

<h3>Receipt:</h3>  

<ul>
  <li>Name: <%= @order.name %></li>
  <li>Email: <%= @order.email %></li>
  <li>Address: <%= @order.address %></li>
  <li>Credit Card Number: <%= @order.cc_num %></li>
  <li>Credit Card Exp: <%= @order.cc_exp %></li>
  <li>CVV: <%= @order.cc_cvv %></li>
  <li>Billing zip: <%= @order.billing_zip %></li>
</ul>

<% @order.orderitems.each do |order_item| %>
  <ul>
  <% product = Product.find_by(id: order_item.product_id) %>
  <li>Product: <%= link_to product.name, product_path(product.id) %></li>
  <li>Quantity: <%= order_item.quantity %></li>
  <li>Subtotal: $<%= order_item.subtotal %></li>
  </ul>
<% end %>

<h5>Your total: $<%= @order.cart_total %></h5>
<h5>Order placed at: <%= @order.updated_at.strftime("%m-%d-%Y %I:%M %p") %></h5>

<h5>Order Status: <%= @order.status.capitalize %></h5>

<% if @order.status == "paid" %>
<h6><%= @order.items_pending %>/<%= @order.orderitems.length %> Items Shipped</h6>
<% end %>

