
<main>

<h2><%= link_to "Add Product to Store", new_product_path %></h2>


    
    <h3>Order Fulfillment <small>by <%= @current_merchant.username %></small></h3>

    <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Filter Orders by Status <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" role="menu">
              <% status_list = {
                                "active" => dashboard_active_products_path,
                                "retired" => dashboard_retired_products_path}%>
           
              <% status_list.each do |option, path| %> 
                <li><%= link_to option, path %></li>
              <%end%>
            </ul>
        </div>


        <%= render partial: "merchtable", locals: {
action_name: Merchant.show_all_products(@current_merchant) } %>



<h4>Active Products: </h4>

<%= render partial: "merchtable", locals: {
action_name: nil, product_status: false,
}%>


<h4>Retired Products: </h4>

<%= render partial: "merchtable", locals: {
action_name: nil, product_status: true,
} %>

</main>