<h3>Merchant Name: <%= @merchant.name %></h3>
<h3>Merchant Email: <%= @merchant.email %></h3>

<% @merchant.products.each do |product| %>
<ul>
  <li><%= link_to product.name, product_path(product.id) %></li>
  <li><%= product.price / 100 %></li>
  <li><%= product.description %></li>
  <li><img src="#{product.inventory}" alt="Image of #{product.name}"></li>
</ul>
<% end %>