<br>
<br>
<br>
<br>
<br>
<main>
  <h1><%= @category.name %></h1>

    <div class="card-deck container" id="cat-prod-deck">
      <% products_by_category = Product.browse_by_category(@category)%>
        <% products_by_category.each do |product|%>
      
            <div class="card">
              <img class="card-img-top" src="<%= product.photo %>" alt="Image of <%= product.name %>" width="100px">
              <div class="card-body">
                <h5 class="card-title"><%= link_to product.name, product_path(product.id) %></h5>
                  <p class="card-text"><%= product.description %></p>
                  <p class="card-price">$<%= product.price / 100%></p>
                  <p class="card-rating"><%= Review.average_rating(product) %></p>
              </div>
              <div class="card-footer">
                  <small class="text-muted">Sold by <%= product.merchant.name %></small>
              </div>
          </div>
            <% end %>
    </div>

</main>