<br>
<br>
<br>
<br>
<br>
<section class="main-body">

    <div class="jumbotron-container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
            <h1 class="display-4"><%= @product.name %> </h1>
            </div>
        </div>
    </div>


    <div class="product-details-container">

    <div class="product-image-container">
        <div class="product-image">
        <%= image_tag "#{@product.photo}", alt: "photo desciption here" %>
        </div>
    </div>

    <div class="product-details-info">
        <div class="product-detail-header">
        <h3><%= @product.name%></h3>
        </div>

        <div class="product-detail-merchant">
        <h6>Sold by: <%= link_to @product.merchant.name, merchant_path(@product.merchant.id) %></h6>
        </div>

        <div class="product-detail-price">
        <p>$<%= (@product.price/100).to_f%></p>
        </div>

        <div class="product-detail-desc">
        <p><%= @product.description%></p>
        </div>

        <div class="product-detai-inv">
        <p>Currently in stock: <%= @product.inventory%></p>
        </div>

        <div class="product-detail-categories">
        <h6>Categories:</h6>
            <% @product.categories.each do |category|%>
            <%= category.name%>
            <% end %>
        </div>

        <br>

        <div>
            
        <p>Average rating: <%= Review.average_rating(@product)%></p>
        
        </div>

        <div>
            <%= form_with url: order_items_path, method: :post do |f| %>
            <%= f.label :quantity %>
            <%= f.number_field :quantity, min: 0 %>

            <%= f.hidden_field :product_id, value: @product.id %>

            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            <% end %>
        </div>   
            
    </div>
    <section class="review-form-container">
    <div class="add-review-container">

        <div class="product-review-container">
            <%= button_to "Review Product", new_product_review_path(@product.id), method: :get %>

            <h2>Reviews</h2>
                <ul>
                    <% @product.reviews.each do |review|%>
                    <li>Name: <%= review.reviewer %></li>
                    <li>Rating: <%= review.rating %></li>
                    <li>Review Description: <%= review.description %></li>
                    <br>
                    <% end %>
                </ul>   
            <br>
            
        </div>

    </div>

    </section>

</section>






