<h1>Product show page</h1>

<h4><%= @product.name%></h4>
<ul>
    <li>Price: $<%= (@product.price/100).to_f%></li>
    <li>Description: <%= @product.description%></li>
    <li>Currently in stock: <%= @product.inventory%></li>
    <li>Categories: 
    <% @product.categories.each do |category|%>
    <%= category.name%>
    <% end %>
    </li>
    <%= form_with url: order_items_path, method: :post do |f| %>
    <%= f.label :quantity %>
    <%= f.number_field :quantity, min: 0 %>

    <%= f.hidden_field :product_id, value: @product.id %>

    <%= f.submit "Add to Cart", class: "btn btn-primary" %>
    <% end %>   
</ul>
<br>
<%= image_tag "#{@product.photo}", alt: "photo desciption here" %>

<%= button_to "Review Product", new_product_review_path(@product.id), method: :get %>

<h4> Product Review </h4>

<ul>
    <% @product.reviews.each do |review|%>
    <li>Name: <%= review.reviewer %></li>
    <li>Rating: <%= review.rating %></li>
    <li>Review Description: <%= review.description %></li>
    <% end %>
</ul>