<!DOCTYPE html>
<html>
  <head>
    <title>TipsyTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
      
    <header class="app-header__header">
      
      <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom">
      <%= link_to "TipsyTime", home_page_path, class: "navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item" >
            <%= link_to "View all products", products_path, class: "btn btn-primary"%>
          </li>
        
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Products by Category <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" role="menu">
              <% category = Category.all.order(:name)%>
              <% category.each do |option| %> 
                <li><%= link_to "#{option.name}", category_path(option.id), class: "btn btn-primary" %></li>
              <%end%>
            </ul>
            
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Products by Merchant <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" role="menu">
              <% c = Merchant.all.order(:name)%>
              <% c.each do |option| %> 
                <li><%= link_to "#{option.username}", merchant_path(option.id), class: "btn btn-primary"%></li>
              <%end%>
            </ul>
        </div>
        </div>

        <ul class="navbar-nav navbar-right">
          <% if session[:merchant_id] %>
            <li class="nav-item app-header__nav_item">
              <%= link_to "Merchant Dashboard", dashboard_path(id: Merchant.find(session[:merchant_id]).id), class: "btn btn-primary" %>
            </li>
            <li class="nav-item app-header__nav_item">
              <%= link_to "Log out", logout_path, method: "delete", class: "btn btn-primary" %>
            </li>
          <% else %>
            <% if session[:order_id] %>
            <li class="nav-item app-header__nav_item">
              <%= link_to "View Cart", order_path(id: Order.find(session[:order_id]).id), class: "btn btn-primary" %>
            </li>
            <% end %>
            <li class="nav-item app-header__nav_item">
              <%= link_to "Login with GitHub", github_login_path, class: "btn btn-primary" %>
            </li>
          <% end %>
        </ul>
      
      </nav>
      

    </header>
    
  <% if flash.count > 0%>
          <% flash.each do |name, message| %>
            <% if message.class == Array %>
              <ul>
              <% message.each do |msg| %>
                <li><%= name %>: <%= msg %> </li>
                <section class="flash">
                  <div class="alert alert-warning">
                    <%= message %>
                  </div>
                </section>
              <% end %>
            <% else %>
              <% if name == "success" %>
                <section class="flash">
                  <div class="alert alert-success">
                    <%= message %>
                  </div>
                </section>
              <% else %>
                <section class="flash">
                  <div class="alert alert-danger">
                    <%= message %>
                  </div>
                </section>
              <% end %>
            <% end %>
            </ul>
          <% end %>
  <% end %>

  <hr>
  <br>
  
    
  <main>
    <%= yield %>
  </main>
  
  <footer class="page-footer font-small">
    <%# <div class="container text-center text-md-left">
      <div class="row">
        <%# <div class = "col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1"> %>
          <%# <h5 class = "font-weight-bold text-uppercase mb-4">Tipsy</h5>
          <p>If you're not <big>21</big> please turn around!</p> %>
        <%# </div> %>
      <%# <div> %>
    <%# </div> %>
    <div class= "footer-copyright text-center py-3">
      <h5>&#169 2019 Copyright Brain-Matter </h5>
    </div>

  </footer>
  </body>

</html>
