<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container" >
        <li class="nav-item app-header__nav_item" >
          <%= link_to "View all products", products_path, class: "nav-link"%>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">
        <% if session[:merchant_id] %>
          <li class="nav-item app-header__nav_item" >
            <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-primary" %>
          </li>
        <% else %>
          <li class="nav-item app-header__nav_item">
            <%= link_to "Login with GitHub", github_login_path, class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </nav>
    </header>

  <% if flash.count > 0%>
          <% flash.each do |name, message| %>
            <% if message.class == Array %>
              <ul>
              <% message.each do |msg| %>
                <li><%= name %>: <%= msg %> </li>
                <section class="flash">
                  <div class="alert alert-warning">
                    <%= message %>
                  </div>
                </section>
              <% end %>
            <% else %>
              <% if name == "success" %>
                <section class="flash">
                  <div class="alert alert-success">
                    <%= message %>
                  </div>
                </section>
              <% else %>
                <section class="flash">
                  <div class="alert alert-danger">
                    <%= message %>
                  </div>
                </section>
              <% end %>
            <% end %>
            </ul>
          <% end %>
  <% end %>

  <main>
    <%= yield %>
  </main>
  </body>
</html>
